<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebase.androidchat" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/firebase_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".find_user"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_find_user" >
        </activity>
        <activity
            android:name=".UserPad"
            android:label="@string/title_activity_user_pad" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".findone"
            android:label="@string/title_activity_findone" >
        </activity>
        <activity android:name=".SmsPOCActivity" >
        </activity>
        <activity
            android:name=".ChatListActivity"
            android:label="@string/title_chat_list" >
        </activity>
        <activity
            android:name=".ChatDetailActivity"
            android:label="@string/title_chat_detail"
            android:parentActivityName=".ChatListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firebase.androidchat.ChatListActivity" />
        </activity>
    </application>

</manifest>
